.content {width: 100%; position: fixed; height: 100%; display: flex; align-items: flex-end;}
.sidebarContent{height:100%; width: 15%;}
.placementContent { height:90%; width: 85%;display: flex; flex-direction: column; overflow-y: auto; position: absolute; top: 0; right: 0;}
.cardWrapper { height: 85%; width:90%; margin: auto; display: flex; flex-direction: column; }
.cardWrapper .cardBox{ margin-bottom: 20px; box-shadow: 0px 2px 4px rgba(127,127,127,0.6); border-radius: 5px; display: flex; position: relative;}
.cardWrapper .cardBox:hover {cursor: pointer; }
.cardWrapper .cardBox .consigner{flex: 5; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.cardWrapper .cardBox .consigner h4{ font-size: 20px; color: rgba(0,0,0,0.7);}
.consigner span { margin-bottom: 20px; color: rgba(0,0,0,0.6);}
.cardWrapper .cardBox .lane, .cardWrapper .cardBox .vehicle {flex: 6; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.cardWrapper .cardBox h4 { font-size: 20px; color: rgba(0,0,0,0.7);}
.cardWrapper .cardBox .fa-clock { font-size: 20px;}
.cardWrapper .cardBox span{ margin-bottom: 20px; color: rgba(0,0,0,0.6);}
.cardWrapper .cardBox .freight{flex: 4; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.cardWrapper .cardBox .timer{flex: 2; display: flex; flex-direction: column; justify-content: space-between; align-items: center; padding: 16px 0;}
.timer p {color: rgba(0,0,0,0.6);}
.cardWrapper .cardBox .closeButton{display: flex; flex: 1;  justify-content: flex-end}
.cardWrapper .cardBox .closeButton button{margin: 10px 0px 10px 0px; height:80px; width: 40px; background-color: #F44336; color: white; font-size: 20px; border-radius: 10px 0px 0px 10px; border: none;}
.closeButton button:focus {outline: none;}
.emptyDemands {text-align: center;}


/*Scroll Design*/
.placementContent::-webkit-scrollbar-track {}
.placementContent::-webkit-scrollbar-thumb { background-image: linear-gradient(to bottom, #49BAA6, #408E82); border-radius: 10px; }
.placementContent::-webkit-scrollbar { width: 10px;}
.placementContent::-webkit-scrollbar-thumb:hover { background-image: linear-gradient(to bottom, #49BAA6, #408E82); }