.modal{width: 60%; height: 60vh;}
.consigner{width: 30%; display: flex; background-color: white; border-radius: 10px; background-color: rgba(255,255,255,0); box-shadow: none;}
.heading{padding-top: 20px;}