.modelLane { margin-top: 70px; display: flex; background-color: white; overflow: hidden!important; width: 28% !important; border-radius: 10px;}
.modal-content{margin-top: 15px;margin-left: 5px; padding:0px!important; border: none; height: 100%;}
.POCWrapper{height: 100%; width: 100%; display: flex;flex-direction: column;padding-left: 25px;}
.POCWrapper h4{font-size: 22px; font-family: 'Titillium Web', sans-serif;}
.unload-modal-info{display: flex; justify-content: center; flex-direction: column; width: 100%; padding-left: 25px; padding-top: 10px;}
.some {margin: 5px; padding-bottom:10px; width: 78%;}
.showPhone{overflow-y: auto; height: 90px;}
.showPhone p {width: 100%; height: 30px; margin: 0; font-size: 12px;}
.unloadPOC{padding-top: 10px;}
.POCSubmitBtn{ padding: 10px 0 !important; display: flex;}
.POCSubmitBtn .btn{background-color: #49BAA6; color: white;height: 35px; font-size: 13px; text-transform: capitalize; }
.POCSubmitBtn .btn:hover {color: white;}
.POCSubmitBtn.btn:focus {outline: none;}

/*Scroll Design*/
.showPhone::-webkit-scrollbar-track {}
.showPhone::-webkit-scrollbar-thumb { background-image: linear-gradient(to bottom, #49BAA6, #408E82); border-radius: 10px; }
.showPhone::-webkit-scrollbar { width: 5px;}
.showPhone::-webkit-scrollbar-thumb:hover { background-image: linear-gradient(to bottom, #49BAA6, #408E82); }