.modelLane { margin-top: 70px; display: flex; background-color: white; overflow: hidden!important; width: 28% !important; border-radius: 10px;}
.modal-content{margin-top: 15px;margin-left: 5px; padding:0px!important; border: none; height: 100%;}
.headButtons{display: flex; justify-content: center; padding-right: 40px;padding-top: 40px;}
.headButtons button{background-color: #49BAA6; color: white;height: 35px; font-size: 13px; text-transform: capitalize; }
.headButtons button:hover {color: white;}
.headButtons button:focus {outline: none;}
.modal-info{display: flex; justify-content: center; flex-direction: column; width: 100%; padding-left: 25px; padding-top: 10px;}
.points{margin: 5px; padding-bottom:10px; width: 78%;}
.modelHeadWrapper{ display: flex;flex-direction: column;justify-content: center;padding-left: 25px; padding-top: 10px;}
.modelHeadWrapper h4{font-size: 22px; font-family: 'Titillium Web', sans-serif;}