.Navbar {width: 100%; height: 60px; background-image: linear-gradient(to bottom, #49BAA6, #408E82); display: flex; justify-content: space-between; align-items: center; padding: 0 20px; position: fixed; z-index: 20;}
.Navbar h4 {margin: 0; color: white;}
.Navbar a {border: 1px solid #fff; color: white; padding: 5px 10px; border-radius: 5px;}
.Navbar a:hover {background-color: white; color: black; border: 1px solid #0a97b0;}